#About{
    #detail{
        display: flex;
        justify-content: space-between;
        align-items: center;

        div{
            text-align: center;
            img{
                width: 60%;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    #About{
        #detail{
            div{
                display: none;
            }
        }
    }
}