#About{
    #detail{
        display: flex;
        justify-content: space-between;
        p{
            width: 50%;
        }

        div{
            text-align: center;
            img{
                width: 50%;
            }
        }
    }
}
@media screen and (max-width:1024px) {
    #About{
        #detail{
            div{
                display: none;
            }
        }
    }
}