#connect{
    margin-bottom: 5vh;

    #content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        #email {
            margin-right: 5%;
            color: #ffffff;
            font-weight: 500;
            background: $mainColor;
            padding: 15px 35px;
            text-align: center;
        }
        
        #social{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{margin-left: 40px;}
            svg{
                width: 50px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #connect{
        #content{
            display: flex;
            align-items: center;
            justify-content: space-between;

            #email{
                width: 40%;
                padding: 15px;
            }
            #social{    
                width: 50%;
                justify-content: space-between;
                a{margin-left: 0%;}
                svg{
                    width: 40px;
                }
            }
        }
    }
}