#connect{
    margin-bottom: 5vh;

    #content{
        display: flex;
        align-items: center;
        justify-content: space-between;

        #social{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            a{margin-left: 40px;}
            svg{
                width: 50px;
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #connect{
        #content{
            display: flex;
            align-items: center;
            justify-content: space-between;

            #email{
                width: 40%;
            }
            #social{    
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                a{margin-left: 15%;}
            }
        }
    }
}