@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
$mainColor : hsl(173, 97%, 41%);
$linkColor: #FF931E;
$background : #FCFCFC;

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // font-family: 'Public Sans', sans-serif;
    font-family: 'Inter', sans-serif;
    // user-select: none;
    font-size: 1em;
}

body{
    // background: $background;
    width: 100%;
    color: $DarkBlue;
    // overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $DarkBlue;
}
button{
    background-color: inherit;
    border: none;
    outline: none;
}
svg{
    cursor: pointer;
}

p{
    color: $GrayishBlue;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 21px;
}
h1{
    font-size: 2em;
}

h2{
    font-size: 1.6em;
    font-weight: 700;
}

h3{
    font-size: 1.3em;
    font-weight: 700;
}


@media (max-width:900px){
}