*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', "Rubik", sans-serif;
    // user-select: none;
}
body{
    font-size: 15px;
    // background: $background;
    width: 100%;
    color: $textColor;
    // overflow-x: hidden;
}
a{
    text-decoration: none;
    color: $textColor;
}