@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
$mainColor : hsl(173, 97%, 41%);
$linkColor: #FF931E;
$background : #FCFCFC;

$DarkBlue: hsl(233, 26%, 24%);
$LimeGreen: hsl(136, 65%, 51%);
$BrightCyan: hsl(192, 70%, 51%);

$GrayishBlue: hsl(233, 8%, 62%);
$LightGrayishBlue: hsl(220, 16%, 96%);
$VeryLightGray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    // font-family: 'Public Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
}

body{
    font-size: 17px;
    // background: $background;
    width: 100%;
    color: $DarkBlue;
    // overflow-x: hidden;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: $DarkBlue;
}
button{
    background-color: inherit;
    border: none;
    outline: none;
}
svg{
    cursor: pointer;
}

p{
    color: $GrayishBlue;
}

@media (max-width:900px){
    body{
        font-size: 17px;
    }
}