#projects{
    #content{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .project{
            box-shadow: 0px 1px 3px lightgray;
            width: 32%;
            border-radius: 5px;
            margin-bottom: 40px;
            overflow: hidden;

            .image{
                padding: 15px;
                text-align: center;
                background: #DBDEE7;
                img{
                    border-radius: 2px;
                    width: 95%;
                }
            }

            .info{
                padding: 20px;
                p{
                    width: 90%;
                }
                #links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;

                    ul{
                        display: flex;
                        align-items: center;
    
                        li{
                            margin-right: 20px;
                        }
                    }
                    
                    a, span{
                        font-size: 1.3em;
                        color: rgb(0, 0, 0);
                        cursor: pointer;
                    }
                }
            }
        }

        img{
            transition: 2s transform;
            width: 100%;
        }
        .project:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #projects{
        #content{    
            .project{
                width: 98%;
                margin: 0 auto;
                margin-bottom: 40px;
            }
        }
    }
}