#welcome {
    padding: 0px 6%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 60vh;
    transition: 2s ease-in all;

    #message {
        width: 50%;
        h1 {
            font-weight: 500;
            font-size: 1.6em;

            span {
                display: inline-block;
                color: $mainColor;
                font-weight: 700;
                margin-bottom: 15px;
                font-size: 1.3em;
            }
        }

        #connect {
            margin-top: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            svg {
                width: 50px;
            }

            #email {
                margin-right: 5%;
                color: #ffffff;
                font-weight: 500;
                background: $mainColor;
                padding: 15px 40px;
                text-align: center;
            }

            #social {
                width: 60%;
                display: flex;
                align-items: center;
                justify-content: flex-start;

                a {
                    margin-left: 10%;
                }
            }
        }
    }
}

@media screen and (max-width:1024px) {
    #welcome {    
        #message {
            width: 60%;
        }
    }    
}

@media screen and (max-width:1000px) {
    #welcome {    
        #message {
            width: 70%;
        }
    }    
}

@media screen and (max-width:760px) {
    #welcome {    
        #message {
            width: 100%;

            #connect {
                justify-content: space-between;
    
                svg {
                    width: 40px;
                }
    
                #email {
                    padding: 12px;
                    width: 40%;
                    text-align: center;
                }
    
                #social {
                    width: 50%;
                    justify-content: space-between;
    
                    a {
                        margin-left: 0px;
                    }
                }
            }
        }
    }    
}