* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  font-size: 17px;
  width: 100%;
  color: #2d314d;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2d314d;
}

button {
  background-color: inherit;
  border: none;
  outline: none;
}

svg {
  cursor: pointer;
}

p {
  color: #9698a6;
}

@media (max-width: 900px) {
  body {
    font-size: 17px;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0px 1px 6px lightgray;
          box-shadow: 0px 1px 6px lightgray;
  padding: 3% 6%;
  background: #FFFFFF;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
}

header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo img {
  margin-right: 10px;
  width: 40px;
  cursor: pointer;
}

header .logo span {
  font-weight: bold;
  font-size: 20px;
}

header nav {
  width: 350px;
  height: 100vh;
  background: white;
  -webkit-box-shadow: 0px 1px 6px lightgray;
          box-shadow: 0px 1px 6px lightgray;
  padding: 2% 3%;
  -webkit-transition: .5s ease-in transform;
  transition: .5s ease-in transform;
  text-align: center;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
}

header nav #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header nav p {
  margin: 30px auto;
  text-align: left;
}

header nav #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header nav #links a {
  -webkit-box-shadow: 0px 1px 6px lightgray;
          box-shadow: 0px 1px 6px lightgray;
  padding: 20px;
  width: 45%;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav i {
  cursor: pointer;
  font-size: 2em;
  color: lightgray;
}

header nav.show {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

header #menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header #menu svg {
  width: 2em;
}

header #menu i {
  font-size: 1.5em;
}

@media screen and (max-width: 1024px) {
  header nav {
    width: 100%;
    padding: 6%;
  }
}

#welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 90vh;
  -webkit-transition: 2s ease-in all;
  transition: 2s ease-in all;
}

#welcome #message h1 {
  width: 65%;
  font-size: 30px;
  font-weight: 500;
}

#welcome #message h1 span {
  color: #03ceb6;
  font-weight: 700;
}

#welcome #welcome-img img {
  width: 100%;
}

#welcome #connect {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 100%;
}

#welcome #connect svg {
  width: 50px;
}

#welcome #connect #email {
  margin-right: 5%;
  width: 30%;
}

#welcome #connect #social {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

#welcome #connect #social a {
  margin-left: 10%;
}

@media screen and (max-width: 1024px) {
  #welcome {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 90vh;
  }
  #welcome #message {
    width: 100%;
  }
  #welcome #message h2 {
    text-align: center;
    width: 100%;
    font-size: 25px;
  }
  #welcome #welcome-img {
    width: 100%;
    text-align: center;
  }
  #welcome #welcome-img img {
    width: 90%;
  }
  #welcome #connect {
    margin-top: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #welcome #connect svg {
    width: 40px;
  }
  #welcome #connect #email {
    width: 40%;
    margin-right: 10%;
  }
  #welcome #connect #social {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #welcome #connect #social a {
    margin-left: 10%;
  }
}

#About #detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#About #detail div {
  text-align: center;
}

#About #detail div img {
  width: 50%;
}

@media screen and (max-width: 1024px) {
  #About #detail div {
    display: none;
  }
}

#skills #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#skills #content .skill {
  width: 30%;
  min-height: 60vh;
  -webkit-box-shadow: 0px 1px 6px lightgray;
          box-shadow: 0px 1px 6px lightgray;
  background: #ffffff;
  border-radius: 10px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#skills #content .skill #img {
  margin-bottom: 30px;
}

#skills #content .skill #img svg {
  width: 50%;
  height: auto;
}

#skills #content .skill #tools {
  margin-top: 25px;
}

#skills #content .skill #tools img {
  max-width: 90%;
}

#skills #content .skill p {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  #skills #content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #skills #content .skill {
    width: 100%;
    margin-bottom: 40px;
    min-height: auto !important;
    padding: 30px 15px;
  }
  #skills #content .skill #img svg {
    width: 40%;
  }
  #skills #content .skill p {
    width: 100%;
  }
}

#projects #content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects #content .project {
  -webkit-box-shadow: 0px 1px 3px lightgray;
          box-shadow: 0px 1px 3px lightgray;
  width: 32%;
  border-radius: 5px;
  margin-bottom: 40px;
  overflow: hidden;
}

#projects #content .project .image {
  padding: 15px;
  text-align: center;
  background: #DBDEE7;
}

#projects #content .project .image img {
  border-radius: 2px;
  width: 95%;
}

#projects #content .project .info {
  padding: 20px;
}

#projects #content .project .info p {
  width: 90%;
}

#projects #content .project .info #links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

#projects #content .project .info #links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#projects #content .project .info #links ul li {
  margin-right: 20px;
}

#projects #content .project .info #links a, #projects #content .project .info #links span {
  font-size: 1.3em;
  color: black;
  cursor: pointer;
}

#projects #content img {
  -webkit-transition: 2s -webkit-transform;
  transition: 2s -webkit-transform;
  transition: 2s transform;
  transition: 2s transform, 2s -webkit-transform;
  width: 100%;
}

#projects #content .project:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 1024px) {
  #projects #content .project {
    width: 98%;
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

#connect {
  margin-bottom: 5vh;
}

#connect #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#connect #content #social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#connect #content #social a {
  margin-left: 40px;
}

#connect #content #social svg {
  width: 50px;
}

@media screen and (max-width: 1024px) {
  #connect #content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #connect #content #email {
    width: 40%;
  }
  #connect #content #social {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  #connect #content #social a {
    margin-left: 10%;
  }
  #connect #content #social svg {
    width: 40px;
  }
}

#wrapper {
  padding: 20px 6%;
  margin-top: 100px;
}

#line {
  opacity: .5;
  width: 50%;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: -2;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

#decoration-image {
  width: 40%;
  position: absolute;
  top: 150px;
  right: 10px;
  z-index: -1;
}

section {
  margin-bottom: 10vh;
}

section h2 {
  font-size: 30px;
}

section p {
  margin: 20px 0px;
  width: 50%;
}

section #content {
  margin-top: 40px;
}

#email {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  background: #03ceb6;
  width: 250px;
  padding: 15px;
  margin: 40px 0px;
  text-align: center;
}

#youtube {
  padding: 50px;
  border-radius: 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(202, 112, 243, 0.8)), to(rgba(3, 206, 182, 0.8))), url(../images/illustration.jpg);
  background: linear-gradient(rgba(202, 112, 243, 0.8), rgba(3, 206, 182, 0.8)), url(../images/illustration.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

#youtube #youtube-logo svg {
  fill: #FFFFFF;
}

.link {
  color: #FF931E;
  font-weight: 550;
}

#view {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 5;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.952);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 5s ease-in all;
  transition: 5s ease-in all;
  display: none;
}

#view #close-view {
  position: absolute;
  right: 30px;
  top: 25px;
  color: #FFFFFF;
  font-size: 2em;
  cursor: pointer;
}

#view #container {
  width: 45%;
  margin: 0px auto;
}

#view #container img {
  width: 100%;
}

#view #container ul {
  width: 100%;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#view #container ul li {
  margin-right: 15px;
  background: #FFFFFF;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: bold;
}

@media screen and (max-width: 1024px) {
  #wrapper {
    margin-top: 150px;
  }
  #line {
    opacity: .5;
    text-align: center;
  }
  #line img {
    width: 100%;
  }
  section {
    margin-bottom: 15vh;
  }
  section p {
    margin: 10px 0px;
    width: 100%;
  }
  section #content {
    margin-top: 40px;
  }
  #youtube h2 {
    width: 100%;
  }
  #youtube #youtube-logo svg {
    fill: #FFFFFF;
  }
  #view #close-view {
    position: absolute;
    top: 91%;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
  #view #container {
    width: 90%;
    margin: 0px auto;
  }
  #view #container img {
    width: 100%;
  }
  #view #container ul {
    width: 100%;
    padding: 5px;
  }
  #view #container ul li {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */